body {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: white;
}
.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
}
.motivation-img {
  border: 5px solid white;
  width: 100%;
}
p {
  color: white;
  text-align: center;
  font-size: 2rem;
}
